<p>Нижние: <%= carriage.bottom_seats  %></p>
<p>Верхние: <%= carriage.top_seats  %></p>
<p>Нижние боковые:  <%= carriage.side_bottom_seats  %></p>
<p>Верхние боковые: <%= carriage.side_top_seats  %></p>